.nav_container{
    height: 65px;
    background-color: #ff7961;
    display: flex;
    justify-content: space-between;
}
.nav_container img{
    padding: 9px;
}
.nav_container button{
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: white;
}